<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories ">
  <item label="Nitrogen">
    <action name="Execute">
      <command>nitrogen</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Obsidian">
    <action name="Execute">
      <command>obsidian</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="UnityHub">
    <action name="Execute">
      <command>unityhub</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Zoom">
   <action name="Execute">
     <command>zoom</command>
     <startupnotify>
       <enabled>yes</enabled>
     </startupnotify>
   </action>
  </item>
  <item label="Blockbench">
    <action name="Execute">
      <command>blockbench</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-games-menu" label="Games ">
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
      <startupnotify> 
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="MultiMC">
    <action name="Execute">
      <command>multimc</command>
      <startupnotify>       
        <enabled>yes</enabled>
      </startupnotify>   
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors ">
  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="VSCode">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Vim">
    <action name="Execute">
      <command>vim</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals ">
  <item label="Kitty">
    <action name="Execute"><command>kitty</command></action>
  </item>
  <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="Alacritty">
    <action name="Execute"><command>alacritty</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet ">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Discord">
    <action name="Execute">
      <command>discord</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Discord</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Telegram">
    <action name="Execute">
      <command>telegram-desktop</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Telegram</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers ">
  <item label="Nemo">
    <action name="Execute">
      <command>nemo</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics ">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Krita">
    <action name="Execute">
      <command>krita</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="screenshot-menu" label="Screenshot ">
  <item label="Region">
    <action name="Execute">
      <command>sh -c "maim -s | xclip -selection clipboard -t image/png ; notify-send "Clipped!""</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Whole Screen">
    <action name="Execute">
      <command>sh -c "scrot -e 'xclip -selection clipboard -t image/png -i $f'"</command>
      <startupnotify><enabled>yes</enabled</startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System ">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <!-- <separator label="Applications" /> --> 
  <menu id="apps-accessories-menu"/>
  <menu id="apps-games-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <!-- <separator label="Utility" /> -->
  <menu id="screenshot-menu" />
  <!-- <separator label="System" /> -->
  <menu id="system-menu"/>
  <item label="Log Out ">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
